body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #4caf50;
}

form {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 100%;
  box-shadow: 1px 1px 1px #ccc;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #4caf50;
}

form button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4caf50;
  color: white;
}

td input {
  border: none;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}

td button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

td button:hover {
  background-color: #d32f2f;
}

#show-table {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px #ccc;
}
